.container{
    position: relative;
    margin-top: 50px;
}

.image{
    background-image: url(../IMG/fifa.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 300px;
    width: 400px;
    position: absolute;
    left: 700px;
}
body{
    background: radial-gradient(at top, rgb(244, 86, 86), rgb(37, 117, 3));
}